{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
  <div class="col">
    {% block content %}
    <div class="card h-100">
      {{ content.field_image }}
      <div class="card-body">
        <h5 class="card-title">{{ content.field_title }}</h5>
        <p class="card-text">{{ content.field_summary }}</p>
        {{ content|without('field_title', 'field_summary', 'field_image') }}
      </div>
      </div>
    {% endblock %}
    </div>
  </div>
{% endblock paragraph %}